.container {
  display: flex;
  width: 470px;
  padding: 10px;
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
    radial-gradient(
      at top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;
  flex: 1 1 auto;
}

.btn__next {
  width: 70px;
  position: relative;
  left: 30px;
}

.frame {
  display: flex;
  border: 1px solid black;
  border-radius: 10px/20px;
}

.traflights {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 50%;
  flex: 1.5 1.2 auto;
  margin: 10px;
}
